################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aoc01/bin/Debug/net6.0
/aoc01/obj
